.box-container {
    position: absolute;
    top: 1.5vh;
    bottom: 1.5vh;
    left: 1.5vh;
    right: 1.5vh;
    background: rgba(120, 120, 120, 0.212);
    display: flex;
  }

.box {
    text-align: center;
    color: gray;
    font-size: 3.6vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-2-global {
    width: 100%;
    padding: 0;
    margin: 0;
 
}
  
.map-global{
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}

#svg_map_global{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

  .mesh {
    fill: none;
    stroke:rgb( 109, 125, 140);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  
  .plot-point:hover {
    fill: orangered;
  }
  
  .country {
    stroke: rgb(146, 31, 31);
  }
  
  .caption {
    fill: rgb(180, 23, 23);
    font-weight: bold;
  }
   

  
#index-map-legend{
    position: absolute;
    width: 25vh;
    height: 25vh;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 1.7vh;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 1vh 2vh;
    color:rgb(146, 145, 145);
}
  
.img-legend {
    width: 60%;
    height: 60%;
    margin: auto;
    opacity: 2
}
.title2DLegend{
    font-size: 2vh;
}
#label2DLegendX{
    position: absolute;
    bottom: 2vh;
    left: 6vh;
    margin: 0;
    padding: 0;
}
#label2DLegendY{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 11vh;
    left: -2vh;
    margin: 0;
    padding: 0;
}
.info-button{
    top:2vh;
    right:2vh;
}

#info-overlay {
    position: absolute;
    top:0;
    right: 0;
    background-color: rgba(29, 29, 29, 0.925);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}


  
  
 