body{
    min-height: 160%;
}
h2{
    color: var(--primary_c);
}
#main_content_container{
    flex-direction: column;
}
#maps{
    flex-grow: 2;
    margin: 0.6rem;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.map{
    background: rgba(61, 61, 61, 0.212);
    width: 100%;
    height: 49.3%;
}

#service_info{
    max-width: 19rem;
    padding: 0;
    margin: 0.6rem 0;
    flex-grow: 1;
    background: rgba(61, 61, 61, 0.212);
}

#service_info_text{
    padding: 1rem;
    color: rgb(190, 190, 190);
}

#first{
    display: flex;
    min-height: 100%;
}
#second{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(20, 35, 56);
}

.mapTitle{
    color: black;
    margin: 0;
    font-size: 3.5rem;

}


.info-button{
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

#info-overlay {
    position: absolute;
    bottom: 0.6rem;
    height: inherit;
    right: 19.6rem;
    background-color: rgba(29, 29, 29, 0.925);
    overflow: hidden;
    width: 0;
    transition: .5s ease;
    z-index: 1000;
}

.legendTitle{
    margin: 0;
    margin-right: 0.7rem;
    font-weight: 200;
}

